body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E9F6FF;
}

.container {
    max-width: 70%;
    margin: 10vh auto;
    padding: 1vh 2vw;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input {
    width: 60%;
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px 15px;
    font-weight: 700;
}

#repositoriesList {
    margin-top: 20px;
}

.repository {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}
